{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <div class="pagination">
        {% if first is defined and current != first %}
            <span class="first">
            <a class="pager-btn" href="{{ path(route, query|merge({(pageParameterName): first})) }}"><i class="fa fa-long-arrow-left"></i></a>
        </span>
        {% endif %}

        {% if previous is defined %}
            <span class="previous">
                <a class="pager-btn" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="fa fa-arrow-left"></i></a>
        </span>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <span class="page">
                <a class="pager-btn" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </span>
            {% else %}
                <span class="pager-selected">{{ page }}</span>
            {% endif %}

        {% endfor %}

        {% if next is defined %}
            <span class="next">
            <a class="pager-btn" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="fa fa-arrow-right"></i></a>
        </span>
        {% endif %}

        {% if last is defined and current != last %}
            <span class="last">
            <a class="pager-btn" href="{{ path(route, query|merge({(pageParameterName): last})) }}"><i class="fa fa-long-arrow-right"></i></a>
        </span>
        {% endif %}
    </div>
{% endif %}
